* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #E5E5E5;
}

/* Utiliy Classes */
.f-bold {
    font-weight: 700;
}

.shadow {
    -webkit-box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    10px 40px 50px 0px rgba(229, 233, 246, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         10px 40px 50px 0px rgba(229, 233, 246, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.custom-btn {
    color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 20px;
}
.custom-btn:hover {
    background-color: #458FF6;
    color: white;
}

section {
    margin: 80px 0;
}

.h-line {
    width: 55px;
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
}

.h-lines {
    width: 55px;
    height: 2px;
    background-color: white;
    margin-bottom: 20px;
}


/* Nav section */
.navbar .navbar-toggler {
    outline: none !important;
    border: none !important;
}

.navbar-light .navbar-toggler-icon {
   background-image: none !important;
}

.hamburger .line{
    width: 38px;
    height: 4px;
    background-color: #30062E;
    display: block;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(15px) rotate(45deg);
    -ms-transform: translateY(15px) rotate(45deg);
    -o-transform: translateY(15px) rotate(45deg);
    transform: translateY(12.5px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-15px) rotate(-45deg);
    -ms-transform: translateY(-15px) rotate(-45deg);
    -o-transform: translateY(-15px) rotate(-45deg);
    transform: translateY(-12.5px) rotate(-45deg);
  }



/* Body */
  .banner p,h1,a {
    padding-top: 30px;
}

.banner-btn {
    background-color: #458FF6;
    color: white;
    border-radius: 20px;
}

.card_icon_size {
    width: 50px;
    margin:20px 0 0 20px;
}


.services_label {
    justify-items: center;
    text-align: center;
}
.services_card {
    height: 260px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
}

.testimonials .container {
    background-image: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: white;
    border-radius: 10px;
}

footer {
    background-image: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: white;
    padding: 50px 0;
}

footer > .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}